/* Основной фон */
body {
    background-color: #1E272E; /* Темный фон */
    font-family: 'Inter', sans-serif;
    color: #ecf0f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
}
.hidden {
    display: none !important;
}

/* Контейнер */
.container {
    max-width: 100%;
    width: 450px;
}

/* Карточка */
.card, .project-card {
    background: linear-gradient(145deg, #2c3e50, #34495e);
    border-radius: 15px;
    padding: 35px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    width: 100%;
    text-align: center;
    color: #fff;
}

.card:hover, .project-card:hover {
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.4);
    transform: translateY(-10px);
}

.card h2, .project-card h5 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #f1c40f;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.card p, .project-card p {
    font-size: 1rem;
    color: #ecf0f1;
    margin-bottom: 1.5rem;
}

/* Поля ввода */
.form-control {
    background: linear-gradient(145deg, #2c3e50, #34495e);
    border: 1px solid #2a2a2a;
    color: #ffffff;
    border-radius: 8px;
    padding: 14px;
    transition: all 0.3s ease;
    width: 100%;
    font-size: 16px;
}

.form-control:focus {
    background: #b3a4a4;
    border-color: #f1c40f;
    box-shadow: 0 0 10px rgba(241, 196, 15, 0.5);
}

/* Кнопка */
.btn-primary {
    background: linear-gradient(90deg, #00c6ff, #0072ff);
    border: none;
    padding: 14px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 8px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 255, 255, 0.2);
    width: 200px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.btn-primary:hover {
    background: linear-gradient(90deg, #0072ff, #00c6ff);
    box-shadow: 0 6px 15px rgba(0, 255, 255, 0.5);
}

/* Анимация появления */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card, .project-card {
    animation: fadeIn 0.8s ease-out;
}